:root {
	--button-color: #234124;
	--background-color: #f8f8f8;
	--background-color-1: #dedddc;
	--text-color: #080808;
}

* {
	box-sizing: border-box;
}

/* #region typograhy */

@font-face {
	font-family: 'Zefani';
	src: url('./fonts/Zefani.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Audrey';
	src: url('./fonts/Audrey-Normal.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Audrey';
	src: url('./fonts/Audrey-NormalOblique.otf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Audrey';
	src: url('./fonts/Audrey-Medium.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('./fonts/Quicksand-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('./fonts/Quicksand-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url('./fonts/Lora-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url('./fonts/Lora-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

/* #endregion typograhy */

/* #region basics */

html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: var(--background-color-1);
	overflow: hidden;
}

h2 {
	color: var(--text-color);
	font-family: 'Audrey';
	font-weight: normal;
	font-size: 2.5rem;
	text-align: center;
}

h3 {
	color: var(--text-color);
	z-index: 3;
	font-family: 'Audrey';
	font-size: 2rem;
	font-weight: normal;
}

.p-main {
	color: var(--text-color);
	font-family: 'Quicksand';
	font-weight: normal;
	font-size: 0.8rem;
	padding: 1.125rem;
	text-align: center;
}

section {
	width: 100%;
}

/* #endregion basics */

/* #region aside */

main {
	display: flex;
	flex-direction: row;
}

aside {
	height: 100vh;
	margin-left: 6em;
	margin-top: 12em;
}

h4 {
	font-family: 'Zefani';
	font-size: 2rem;
	border-bottom: 2px solid black;
    padding-bottom: 1.5em; /* Mellanrum mellan texten och strecket */
}

.aside-links {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	margin-top: 6em;
}

a {
	font-family: 'Quicksand';
	color: var(--text-color);
	text-decoration: none;
	transition: transform 0.3s ease, color 0.3s ease;
}

a:hover {
	transform: scale(1.3);
}

.social-media {
	display: flex;
	flex-direction: row;
	margin-top: 6em;
	gap: 1em;
}

.media-logo {
	width: 30px;
}

aside p {
	font-family: 'Quicksand';
	margin-top: 2em;
	font-size: 0.8rem;
}

/* #endregion aside */

/* #region page-index */

header {
	height: 100vh;
	width: 100%;
	background-image: url(images/header-mountains.avif);
	background-size: cover;
    background-position: center;
    position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}

header::before {
    content: "";
    position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.493);
    z-index: 2;
}

h1 {
    font-size: 8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
	margin-top: 0;
	font-family: 'Zefani';

    /* Mask effect */
    background: url(images/header-mountains.avif) center/cover no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 3;
}

.page-links {
    z-index: 3;
    margin-top: 12em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8em;
}

.page-links a {
    font-family: 'Audrey';
	font-weight: normal;
    color: var(--text-color);
    font-size: 3rem;
    text-decoration: none;
	transition: transform 0.3s ease, color 0.3s ease;
}

.page-links a:hover {
	transform: scale(1.3);
    /* color: #2b5a33;  */
}

/* #endregion page-index */

/* #region page-contact */

.contact-section {
	/* background-image: url(images/contact-mountains.avif);
	background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 1em; */
	/* height: 100vh; */
	margin-top: 13em;
}

form {
    color: #f8f8f8;
    font-family: 'Quicksand';
    font-size: 0.8rem;
	max-width: 300px;
    margin: 0 auto;
	border-radius: 8px;
	color: #000000;
	padding-top: 1em;
}

.form-group {
	display: flex;
	flex-direction: column;
	max-width: 300px;
}

input, textarea {
	border: 1px solid rgb(181, 181, 181);
	outline: none;
	border-radius: 0.4em;
	padding: 0 0 0 4px;
}

textarea {
	padding-top: 6px;
}

.text1, .text2 {
    font-size: 0.8rem;
    font-family: 'Quicksand';  
	margin-bottom: 1em;
}

.text1 {
    height: 40px;
}

.text2 {
    resize: vertical;
    height: 200px;
    overflow-y: auto;              
    vertical-align: top;
    line-height: 1.5;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.button-send {
    color: #f8f8f8;
    background-color: var(--button-color);
    font-family: 'Quicksand';
    font-size: 0.7rem;
    border: none;
    border-radius: 2em;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    width: 100px;
    height: 30px;
    padding: 8px;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-top: 1em;
}

.button-container {
	display: flex;
	justify-content: right;
}

.button-send:hover {
    background-color: #1f3720;
	transform: scale(1.1);
    cursor: pointer;
}

/* #endregion page-contact */