:root {
	--button-color: #234124;
	--background-color: #f8f8f8;
	--text-color: #080808;
}

* {
	box-sizing: border-box;
}

/* #region typograhy */

@font-face {
	font-family: 'Zefani';
	src: url('./fonts/Zefani.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Audrey';
	src: url('./fonts/Audrey-Normal.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Audrey';
	src: url('./fonts/Audrey-NormalOblique.otf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Audrey';
	src: url('./fonts/Audrey-Medium.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('./fonts/Quicksand-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('./fonts/Quicksand-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

/* #endregion typograhy */

/* #region basics */

html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: var(--background-color);
}

h2 {
	color: var(--text-color);
	font-family: 'Audrey';
	font-weight: normal;
	font-size: 2.5rem;
	text-align: center;
	margin-top: 2em;
}

h3 {
	color: var(--text-color);
	z-index: 3;
	font-family: 'Audrey';
	font-size: 1.5rem;
}

.p-main {
	color: var(--text-color);
	font-family: 'Quicksand';
	font-weight: normal;
	font-size: 0.8rem;
	padding: 1.125rem;
	text-align: center;
}

section {
	width: 100%;
}

/* #endregion basics */

/* #region header */

header {
	height: 100vh;
	width: 100%;
	background-image: url(images/header-mountains.avif);
	background-size: cover;
    background-position: center;
    position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}

header::before {
    content: "";
    position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.711);
    z-index: 2;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
	margin-top: 0;
	font-family: 'Zefani';

    /* Mask effect */
    background: url(images/header-mountains.avif) center/cover no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 3;
}


/* #endregion header */

/* #region about-me */

.about-me-section {
	display: flex;
	flex-direction: column;
	position: relative;
	height: auto;
	margin-bottom: 3em;
}

.about-me-section p {
	max-width: 500px;
	padding: 2em;
}

.about-right {
	order: 1;
	margin-bottom: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-left {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1em;
	order: 2;
}

.about-me-section img {
	height: 180px;
	width: 110px;
}

/* #endregion about-me */

/* #region skills */

.skills-section {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills-section p {
	max-width: 500px;
	padding: 2em;
}

.skills-icons-section {
	display: flex;
	flex-direction: column;
	gap: 2em;
	justify-content: center;
	margin-top: 3em;
	margin-bottom: 2em;
}

.skills-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.icon {
	width: 90px;
}

.icon:hover {
	box-shadow: 0 0 4px 4px rgba(0,0,0,0.3);
}

.skills-box:hover {
	transform: scale(1.2);
}

.skills-text {
    display: none;
    font-size: 0.7rem;
	font-family: 'Quicksand';
    color: var(--text-color);
	width: 150px;
	text-align: center;
}

.skills-box:hover .skills-text {
    display: block;
}

/* #endregion skills */

/* #region projects */

.projects-section {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-section p {
	max-width: 500px;
	padding: 2em;
}

.projects-row-1 {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	gap: 1em;
}

.projects-1 {
	width: 100px;
	height: 80px;
	background-color: black;
}

.projects-row-2 {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	gap: 1em;
}

.projects-2 {
	width: 100px;
	height: 80px;
	background-color: black;
}

.show-more {
	font-family: 'Quicksand';
	font-size: 0.8rem;
	font-weight: bold;
}

.show-more:hover {
	cursor: pointer;
	transform: scale(1.1);
}

/* #endregion projects */

/* #region contact */

.contact-section {
	background-image: url(images/contact-mountains.avif);
	background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 1em;
	height: auto;
}

form {
    color: #f8f8f8;
    font-family: 'Quicksand';
    font-size: 0.8rem;
	max-width: 300px;
    margin: 0 auto;
	border-radius: 8px;
	color: #000000;
	padding-top: 1em;
}

.form-group {
	display: flex;
	flex-direction: column;
	max-width: 300px;
}

input, textarea {
	border: 1px solid rgb(181, 181, 181);
	outline: none;
	border-radius: 0.4em;
	padding: 0 0 0 4px;
}

textarea {
	padding-top: 6px;
}

.text1, .text2 {
    font-size: 0.8rem;
    font-family: 'Quicksand';  
	margin-bottom: 1em;
}

.text1 {
    height: 40px;
}

.text2 {
    resize: vertical;
    height: 200px;
    overflow-y: auto;              
    vertical-align: top;
    line-height: 1.5;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.button-send {
    color: #f8f8f8;
    background-color: var(--button-color);
    font-family: 'Quicksand';
    font-size: 0.8rem;
    border: none;
    border-radius: 2em;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    width: 120px;
    height: 40px;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-top: 1em;
	margin-bottom: 14em;
}

.button-container {
	display: flex;
	justify-content: center;
}

.button-send:hover {
    background-color: #1f3720;
	transform: scale(1.1);
    cursor: pointer;
}

/* #endregion contact */

/* #region footer */

footer {
	height: 9em;
	font-family: 'Quicksand';
	display: flex;
	justify-content: space-evenly;
	margin-top: -9em;
    position: relative;
    z-index: 10;
	background-color: rgba(2, 2, 2, 0.6);
}

.social-media {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.media-logo {
	width: 20px;
	color: var(--text-color);
}

footer h4 {
	font-weight: bold;
	color: #f8f8f8;
}

footer p {
	margin: 0;
	font-size: 0.8rem;
	color: #f8f8f8;
}

/* #endregion footer */

/* #region media-queries */

@media screen and (min-width: 1000px) {

	h1 {
		font-size: 8rem;
	}

	h3 {
		font-size: 2.5rem;
	}

	.about-me-section {
		display: flex;
		flex-direction: row;
	}

	.about-left {
		order: 1;
	}

	.skills-icons-section {
		display: flex;
		flex-direction: row;
		margin-bottom: 4em;
		gap: 4em;
	}

	.skills-box {
		display: flex;
		flex-direction: column;
	}

	.skills-text {
		margin-top: 2em;
	}

	.icon {
		width: 120px;
	}

	.skills-section p {
		max-width: 800px;
	}

	.projects-section p {
		max-width: 800px;
	}

	.projects-row-1 {
		gap: 3em;
		margin-bottom: 3em;
	}

	.projects-1 {
		width: 160px;
		height: 120px;
	}

	.projects-row-2 {
		gap: 3em;
	}

	.projects-2 {
		width: 160px;
		height: 120px;
	}

}

/* #endregion media-queries */